.item_title{
	color: #5CB85C;
	font-size: 22px;
	font-weight: 600;
	
	display: inline-block;
	margin-left:40px;
	width: 39%;
}

.item_detail{
	display: inline-block;
	margin: 0px 0 ;
	margin-left:40px;
	width: 39%;
}

.item_add{
	display: inline-block;
	border: 1px solid #f40;
	width: 100px;
	text-align: center;
	padding: 3px 0;
	
	color: #5CB85C;
	font-size: 14px;
	font-weight: 600;
}
.item_add:hover{
	cursor: pointer;
}



/*--------------------展示盒子 start ---------------------------*/

.thumbnail{
	overflow: hidden;
}
.thumbnail .btn{
	float: right;
}
/*-----------订单增减插件 start------------------*/
.addSubNum{
	margin-left: 15px;
	margin-right: 15px;

}
.addSubNum .icon_plus{
	margin-left: 0px;
	margin-top: 10px;
	
}
.addSubNum .icon_minus{
	margin-right: 0px;
	margin-top: 10px;
	
}
.addSubNum .icon_plus,
.addSubNum .icon_minus{
	display: inline-block;
	width: 22px;
	height: 22px;
	text-align: center;
	line-height: 18px;
	font-size: 20px !important;
	border: 1px solid rgba(0,100,255,0.8);
	border-radius: 50%;
	
	transition: ease 0.3s all;
}

.addSubNum .icon_plus:hover{
	cursor: pointer;
	background-color: rgba(0,100,255,0.8);
	color: #fff;
}
.addSubNum .icon_minus:hover{
	cursor: pointer;
	background-color: rgba(0,100,255,0.8);
	color: #fff;
}
/*----------订单增减插件 end----------------*/


/*--------------------展示盒子 end ---------------------------*/

/*-------------------通用--------------------------------------*/
.marginRight{
	margin-right:15px;
}
.marginLeft{
	margin-left:15px;
}
.marginTop{
	margin-top:15px;
}
.marginBottom{
	margin-bottom:15px;
}

.btn-success{
	background-color: #5cb85c;
	border-color: #4cae4c;
}
